* {
  background-color: #355764;
  padding: 0;
  margin: 0;
}

body {
  background-color: #355764;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  margin: 10px 0;
}

#login_page {
  padding: 50px;
}

.form-group .form-control {
  margin-bottom: 10px;
}

.form-group .btn {
  margin-top: 20px;
}

